---
layout: page
title: Our Team
permalink: /about/our-team/
---

<!-- <p>Hello this is our team description of the maintainers...</p> -->

<h2 class="text-center">Maintainers</h2>

<div class="row flex-center">

  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="http://www.cttc.es/people/zali/" target="_blank">Zoraze Ali</a></h4>
    <p>
      (LTE)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Abhijith Anilkumar</h4>
    <p>
      (app store)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Stefano Avallone</h4>
    <p>
      (traffic control, Wi-Fi)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="https://people.llnl.gov/barnes26" target="_blank">Peter Barnes</a></h4>
    <p>
      (core, documentation)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="http://www.cttc.es/people/Bbojovic/" target="_blank">Biljana Bojović</a></h4>
    <p>
      (LTE)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Gustavo Carneiro</h4>
    <p>
      (Waf, Python bindings)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Matthieu Coudron</h4>
    <p>
      (DCE)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Ankit Deepak</h4>
    <p>
      (Python)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Sebastien Deronne</h4>
    <p>
      (Wi-Fi)<br />
      GitLab page: <a href="https://gitlab.com/sderonne" target="_blank"><i class="fab fa-gitlab"></i></a>
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Federico Guerra</h4>
    <p>
      (UAN (underwater acoustic))<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="https://www.ece.uw.edu/people/thomas-r-henderson/" target="_blank">Tom Henderson</a></h4>
    <p>
      (lead maintainer)<br />
      <a href="https://bitbucket.org/tomhend/" target="_blank"><i class="fab fa-bitbucket"></i></a> &nbsp; <a href="https://github.com/tomhenderson" target="_blank"><i class="fab fa-github"></i></a> &nbsp; <a href="https://gitlab.com/tomhenderson" target="_blank"><i class="fab fa-gitlab"></i></a>
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Alexander Krotov</h4>
    <p>
      (LTE, Wi-Fi)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="http://www.cttc.es/people/mmiozzo/" target="_blank">Marco Miozzo</a></h4>
    <p>
      (LTE)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Natale Patriciello</h4>
    <p>
      (TCP, LTE NR)
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Tommaso Pecorella</h4>
    <p>
      (Internet, LR-WPAN)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Getachew Redieteab</h4>
    <p>
      (Wi-Fi)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="http://www.cttc.es/people/mrequena/" target="_blank">Manuel Requena</a></h4>
    <p>
      (LTE)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Matias Richart</h4>
    <p>
      (Wi-Fi rate controls)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Mohit Tahiliani</h4>
    <p>
      (traffic control, TCP)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Cristiano Tapparello</h4>
    <p>
      (energy models)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Hajime Tazaki</h4>
    <p>
      (DCE)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>

</div>



<hr style="margin: 50px 0;">



<h2 class="text-center">Alumni</h2>

<div class="row flex-center">
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>John Abraham</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Kirill Andreev</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Ghada Badawy</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Nicola Baldo</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Raj Bhattacharjea</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Pavel Boyko</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Junling Bu</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Elena Buchatskaya</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Daniel Camara</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Yufei Cheng</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Craig Dowell</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Tom Goff</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Budiarto Herman</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Mohamed Amine Ismail</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Sam Jansen</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Konstantinos Katsaros</h4>
    <!--<p>
      (ns-3-users)<br /> -->
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Joe Kopena</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Flavio Kubota</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Mathieu Lacage</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Daniel Lertpratchya</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Faker Moatamri</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Vedran Miletic</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Hemanth Narra</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Josh Pelkey</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Alina Quereilhac</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>George Riley</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Lalith Suresh</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Brian Swenson</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Adrian S. W. Tam</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Frederic Urbani</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Mitch Watrous</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Florian Westphal</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Dizhi Zhou</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
</div>
